<footer>
  <p class="footerTitle">A Historical Timeline</p>
  <div class="footerTextRight">
    <div class="linksContainer">
      <p class="footerTitle">Share:</p>
      <a href="mailto:?subject=Hairstory&body=https%3A//demilai.github.io/Hairstory" title="email" target="_blanck"><i class="fas fa-envelope"></i></a>
      <a href="https://pinterest.com/pin/create/button/?url=https://demilai.github.io/Hairstory&media=https://pin.it/7Gn7ph4&description=" title="instagram" target="_blanck"><i class="fab fa-pinterest"></i></a>
      <a href="https://twitter.com/intent/tweet?text=Check%20Out%20This%20Website!%20https%3A//demilai.github.io/Hairstory/" title="twitter" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="linksContainer">
        <p class="footerTitle">Find Me:</p>
        <a href="#"><i class="fas fa-envelope"></i></a>
      </div>
  </div>
</footer>
