<footer>
  <p class="footerTitle">A Historical Timeline</p>
  <div class="footerTextRight">
    <div class="linksContainer">
      <p class="footerTitle">Share:</p>
      <a href="#"><i class="fas fa-envelope"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="linksContainer">
        <p class="footerTitle">Find Me:</p>
        <a href="#"><i class="fas fa-envelope"></i></a>
      </div>
  </div>
</footer>
