h1 {
    color: #948787;
    text-align:center;
    letter-spacing: 1.5px;
    font-family: 'Rufina', serif;
    font-size: 92px;
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

header {
    height: 600px;
    width: 100%;
    background-image: url("/assets/images/home-header-image.jpg");
    background-position: bottom;
}

.main_content {
}


.home_image {
    margin: 80px;
}

.home_header_image {
    width: 100%;
    height: auto;
}

body {
    background-color: black;
    margin: 80px;
}

.main-nav {
    display: flex;
    word-spacing: 20px;
    justify-content: flex-end;
    align-items: center;

    a {
        color: #948787;
        text-decoration: none;
        font-family: 'Roboto','serif';
        font-weight: 400;
        margin: 10px;
        text-transform: uppercase;
        display: flex;
    }
    a:hover {
        color: #877A7A;
    }
}

.arrow {
    display: flex;
    justify-content: flex-end;
}

.containers {
    display: flex;
    justify-content: space-around;
}

.container {
    width: 680px;
    height: 690px;
    background-color: #C4C4C4;
}

.container_2 {
    width: 385px;
    height: 270px;
    background-color: #C4C4C4;    
}

h2 {
    color: #948787;
    font-family: 'Rufina', serif;
    font-size: 92px;
    font-weight: 400;
    height: 100%;
}

p {
    font-family: 'Roboto', 'serif';
    color: #948787;
}

.content {
    display: flex;
    align-content: space-around;
    flex-direction: column;
}