$fa-font-path: "./webfonts";

html {
    scroll-behavior: smooth;
}

h1 {
    color: #948787;
    text-align:center;
    letter-spacing: 1.5px;
    font-family: 'Rufina', serif;
    font-size: 92px;
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
}

#rollone {
    padding-top: 10vh;
}

.opacity {
    position: absolute;
}

.colour {
    color: black;
}

header {
    height: 600px;
    width: 100%;
    // background-image: url("/assets/images/home-header-image.jpg");
    background-position: bottom;
    background-position-y: -220px;
    background-position-x: 1px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.main_content {
}
.container, .slideContainer {
    .arrow {
        position: absolute;
        rotate: -90deg;
    }
}
.arrow {
    position: relative; bottom: 8vh; left: 1109px;
    
    .circle {
        fill: transparent;
        transition: all 0.5s;
    }

    .a {
        stroke:#948787;
    }
}
.arrow:hover {

    .circle {
        fill: #948787;
    }

    .a {
        stroke: #131313;
    }

}

.home_image {
    margin: 80px;
}

.home_header_image {
    width: 100%;
    height: auto;
}

body {
    // background-color: black;
    max-width: 100vw;
    overflow-x: hidden;
}

.main-nav {
    display: flex;
    word-spacing: 20px;
    justify-content: flex-end;
    align-items: center;
    -ms-transform: translateY(-55%);
  transform: translateY(-55%);

    a {
        color: #948787;
        text-decoration: none;
        font-family: 'Roboto','serif';
        font-weight: 400;
        margin: 10px;
        text-transform: uppercase;
        display: flex;
    }
    a:hover {
        color: #877A7A;
    }
} 

.container {
    border: 1px brown solid;
    display: flex;
    position: relative;
}

.reverse {
        flex-direction: row-reverse;

        .eraSubContent {
            padding: 0 100px 0 0;
        }
  }

  .red {
      width: 100vw;
      height: 100vh;
      border: 1px red solid;
      flex-shrink: 0;
      display: flex;
  }

  .blue {
      border: 1px blue solid;
      width: 50%;
  }

.mainImage {
    img{
        width: 680px;
        height: 690px;
        object-fit: cover;
    }
}

.miniImage {  
    img{
        width: 385px;
        height: 290px;
        object-fit: cover;
    }
}

h2 {
    color: #948787;
    font-family: 'Rufina', serif;
    font-size: 78px;
    font-weight: 400;
    height: 100%;
    width: 420px;
}

p {
    font-family: 'Roboto', 'serif';
    color: #948787;
}

.slideImage1 {
    width: 275px;
    height: 355px;
    background-color: #C4C4C4;
}
.slideImage2 {
    width: 545px;
    height: 345px;
    background-color: #C4C4C4;
}

.eraContent {
    width: 52vh
}

.eraSubContent {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 100px;
    height: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footerTitle {
    font-family: 'Roboto', 'serif';
    text-transform: uppercase;
}

.footerTextRight {
    font-family: 'Roboto';
    display: flex; 
    color: #948787;
}

.linksContainer {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 25px;

    a {
        margin: 0px 0px 0px 10px;
    }
}

.slideContainer {
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    position: relative;
}

.slideImage1 {
    height: 275px; 
    width: 355px; 
    background-color: #C4C4C4;
}

.slideImage2 {
    height: 149px; 
    width: 210px; 
    background-color: #C4C4C4;
}

.slideImage3 {
    height: 255px; 
    width: 275px; 
    background-color: #C4C4C4;
}

.slideImage4 {
    height: 255px; 
    width: 275px; 
    background-color: #C4C4C4;
}

.slideImage5 {
    height: 255px; 
    width: 275px; 
    background-color: #C4C4C4;
}

.slideImage6 {
    height: 255px; 
    width: 275px; 
    background-color: #C4C4C4;
} 

.slideImage7 {
    height: 255px; 
    width: 275px; 
    background-color: #C4C4C4;
}

.slideImage8 {
    height: 255px; 
    width: 275px; 
    background-color: #C4C4C4;
}

.slideImage9 {
    height: 255px; 
    width: 275px; 
    background-color: #C4C4C4;
}