<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{'/assets/css/styles.css' | relative_url}}">
    <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
    <title>{{page.title}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> 
  </head>
  <body>
    {% include navigation.html %}
     {{content}}
  </body>
</html>